.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  padding: 20px;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}