<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="../logic/gaurd.js"></script>
	<script src="https://kit.fontawesome.com/80a1863013.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	<link href="/FrontEnd/css/index.css" rel="stylesheet">
	<link href="/FrontEnd/css/index_media.css" rel="stylesheet">
	<link href="/FrontEnd/css/cart.css" rel="stylesheet">
	<link href="/FrontEnd/css/orders.css" rel="stylesheet">

	<title>Document</title>
</head>

<body>

	<section class="header">
		<img src="/assets/img/shopido-logo.png" alt="">
		<div>

			<ul id="navbar">
				<li><a href="/FrontEnd/view/index.html">Home</a></li>
				<li><a href="/FrontEnd/view/products.html">Products</a></li>
				<li><a href="/FrontEnd/view/contactUs.html">Contact Us</a></li>
				<li><a href="/FrontEnd/view/aboutUs.html">About Us</a></li>
				<li id="ig-bag"><a href="/FrontEnd/view/cart.html"><i class='bx bxs-shopping-bag-alt' width="366px"
							height="36px"></i></a></li>
				<li id="ig-auth"><a href="/FrontEnd/view/auth.html"><i class='bx bx-user'></i></a></li>
				<a href="#" id="close"><i class='bx bx-x'></i></a>
			</ul>
		</div>
		<div id="mobile">
			<a href="/FrontEnd/view/auth.html"><i class='bx bx-user'></i></a>
			<a href="/FrontEnd/view/cart.html"><i class='bx bxs-shopping-bag-alt'></i></a>
			<i id="bar" class='bx bx-menu-alt-right'></i>
		</div>
	</section>

	<section id="product1" class="section-p1">
		<h2>Shopping Cart</h2>
		<p></p>
		<div class="pro-container grid-container" id="new-product-container">
		</div>
	</section>

	<script type="module" src="/FrontEnd/logic/orders.js"></script>


</body>

</html>