<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="../css/profile.css" />
  </head>
  <body>
    <div class="container">
      <div class="profile-image">
        <img src="profile-image.jpg" alt="Profile Image" />
      </div>
      <div class="profile-info">
        <h1 class="profile-name">John Doe</h1>
        <p class="profile-email">johndoe@gmail.com</p>
        <p class="profile-bio">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          scelerisque tincidunt nunc a ultricies. Donec aliquam massa euismod
          dolor maximus lacinia. Fusce ac erat vitae lectus tempor malesuada vel
          nec nunc. Sed convallis pretium tincidunt.
        </p>
        <ul class="profile-social">
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
